<a href="https://colab.research.google.com/github/VINAYSKG/Analysis-with-Python/blob/main/Brownwall_food_pvt_ltd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df=pd.read_excel('/content/BROWNWALL TEST FILE.xlsx')
print(df)

     Inquiry No           Timestamp                  Company  \
0           102 2024-04-20 00:00:00                  aleMbIc
1           104 2025-12-11 15:37:51   FORtuNe seLECT eXOtIca
2           105 2024-03-19 00:00:00         zIFaRm  PInNAcLe
3           107 2024-03-20 00:00:00         ziFARM  PInnAcle
4           121 2025-07-05 11:50:22            EMcurE PhArMA
..          ...                 ...                      ...
294         340 2024-07-04 00:00:00                INNoVCarE
295         448 2024-05-15 00:00:00                  lUPiN
296         341 2024-07-04 00:00:00                InnoVcAre
297         450 2024-05-15 00:00:00                   LUpiN
298         451 2024-12-23 00:00:00                jK  LAxmI

            Contact Name   Category  \
0    AstHa MaDam dIv-peT  PHARMA ‎
1          devpRAsaD das  PHARMA ‎
2           abDUL BaSIt   PHARMA ‎
3            ABdUl basit  PHARMA ‎
4         aditYA tHAKuR   PHARMA ‎
..                   ...        ...
294             asHUTosh  PHARMA ‎
295      NIdHi  PATkar    PHARMA ‎
296              ShUbhAm  PHARMA ‎
297      mAhesH  agArwaL  PHARMA ‎
298               TUShAr  CORPORATE

                                        Details Lead Source       Sales Stage  \
0                                           NaN         NaN              Dead
1                                  indent raise     Calling        Order Lost
2                                           NaN     Calling         Discovery
3                                           NaN     Calling  Shared Quotation
4                             Will let you know   ONE 2 ONE              Dead
..                                          ...         ...               ...
294  LBL Set of 2 dark chocolate Period related   One 2 One         Order WON
295                                         NaN         NaN              Dead
296                   Need few options on veins   One 2 One              Dead
297                                         NaN         NaN              Dead
298                    Instant Neembu Pani Cups     Calling              Dead

            Update Remarks         Next Steps  ...  Budget  Quantity  \
0                      NaN     Arrange Sample  ...   300.0      3000
1             indent raise  Aiming to Closure  ...   100.0      5000
2                       na    Arrange Meeting  ...  1000.0     10000
3                      NaN                NaN  ...   120.0      1000
4             NOT Approved    Arrange Meeting  ...   250.0      1000
..                     ...                ...  ...     ...       ...
294              Order won   Make Order Sheet  ...     NaN       NaN
295         Options shared                NaN  ...  1000.0      1500
296            Pmt on tour    Share Quotation  ...    35.0      2000
297  Need to submit sample                NaN  ...  2500.0      1000
298                  Liked      Share Options  ...   100.0      3000

    Est Order Value Sales Person Name                     OCCASSION  \
0           90 0000            SOHAAM                   WOMEN'S DAY
1        500 0 0 0             SOHAAM                 NOT MENTIONED
2       10 0​00000             SOHAAM                          HOLI
3           120000             SOHAAM                        LAUNCH
4               NaN            SOHAAM   BRAND LAUNCH / EVENT LAUNCH
..              ...               ...                           ...
294               0           MITARTH   BRAND LAUNCH / EVENT LAUNCH
295       15 000 00          SEWANATH  CORPORATE OR OTHER PROMOTION
296       7​0 00​0            MITARTH   BRAND LAUNCH / EVENT LAUNCH
297       ​250 0000          SEWANATH  CORPORATE OR OTHER PROMOTION
298       3 000 00              SAARA  CORPORATE OR OTHER PROMOTION

      LOCATION Inquiry Type 2nd Owner Back Office 1st Owner
0          NaN          NBD       NaN     GAYATRI  SEWANATH
1       BANDRA          NBD    MEENAZ       SHAAD     SHAAD
2      ANDHERI          NBD       NaN       SAARA     ZAHIN
3      ANDHERI          NBD  SEWANATH     GAYATRI     ZAHIN
4    AHMEDABAD          NBD     SHAAD  MANAGEMENT    ANURAG
..         ...          ...       ...         ...       ...
294    CHEMBUR          NBD     ZAHIN     GAYATRI   MITARTH
295  AHMEDABAD          NBD       NaN         NaN  SEWANATH
296    CHEMBUR          NBD     ZAHIN     GAYATRI   MITARTH
297  AHMEDABAD          CRR       NaN         NaN  SEWANATH
298      DELHI          NBD    MEENAZ  MANAGEMENT     SAARA

[299 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Inquiry No          299 non-null    int64
 1   Timestamp           299 non-null    datetime64[ns]
 2   Company             299 non-null    object
 3   Contact Name        297 non-null    object
 4   Category            298 non-null    object
 5   Details             177 non-null    object
 6   Lead Source         240 non-null    object
 7   Sales Stage         299 non-null    object
 8   Update Remarks      234 non-null    object
 9   Next Steps          223 non-null    object
 10  Next Followup Date  210 non-null    datetime64[ns]
 11  Budget              252 non-null    float64
 12  Quantity            186 non-null    object
 13  Est Order Value     267 non-null    object
 14  Sales Person Name   299 non-null    object
 15  OCCASSION           296 non-null    object
 16  LOCATION            275 non-null    object
 17  Inquiry Type        299 non-null    object
 18  2nd Owner           180 non-null    object
 19  Back Office         176 non-null    object
 20  1st Owner           298 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(1), object(17)
memory usage: 49.2+ KB

In [ ]:
df.head(10)

,Inquiry No,Timestamp,Company,Contact Name,Category,Details,Lead Source,Sales Stage,Update Remarks,Next Steps,...,Budget,Quantity,Est Order Value,Sales Person Name,OCCASSION,LOCATION,Inquiry Type,2nd Owner,Back Office,1st Owner
0,102,2024-04-20 00:00:00,aleMbIc,AstHa MaDam dIv-peT,PHARMA ‎,NaN,NaN,Dead,NaN,Arrange Sample,...,300.0,3000,90 0000,SOHAAM,WOMEN'S DAY,NaN,NBD,NaN,GAYATRI,SEWANATH
1,104,2025-12-11 15:37:51,FORtuNe seLECT eXOtIca,devpRAsaD das,PHARMA ‎,indent raise,Calling,Order Lost,indent raise,Aiming to Closure,...,100.0,5000,500 0 0 0,SOHAAM,NOT MENTIONED,BANDRA,NBD,MEENAZ,SHAAD,SHAAD
2,105,2024-03-19 00:00:00,zIFaRm PInNAcLe,abDUL BaSIt,PHARMA ‎,NaN,Calling,Discovery,na,Arrange Meeting,...,1000.0,10000,10 0​00000,SOHAAM,HOLI,ANDHERI,NBD,NaN,SAARA,ZAHIN
3,107,2024-03-20 00:00:00,ziFARM PInnAcle,ABdUl basit,PHARMA ‎,NaN,Calling,Shared Quotation,NaN,NaN,...,120.0,1000,120000,SOHAAM,LAUNCH,ANDHERI,NBD,SEWANATH,GAYATRI,ZAHIN
4,121,2025-07-05 11:50:22,EMcurE PhArMA,aditYA tHAKuR,PHARMA ‎,Will let you know,ONE 2 ONE,Dead,NOT Approved,Arrange Meeting,...,250.0,1000,NaN,SOHAAM,BRAND LAUNCH / EVENT LAUNCH,AHMEDABAD,NBD,SHAAD,MANAGEMENT,ANURAG
5,122,2024-04-20 00:00:00,hETERO,ReeNa,PHARMA ‎,Masala Cranberry,ONE 2 ONE,Order Won,NaN,Make Order Sheet,...,40.0,800,32000​,SOHAAM,CORPORATE OR OTHER PROMOTION,AHMEDABAD,NBD OF CRR,SHAAD,MANAGEMENT,ANURAG
6,123,2024-05-18 00:00:00,tORrenT,nILeSH,PHARMA ‎,NaN,ONE 2 ONE,dead,To give first verbal tentative quote then need...,Share Quotation,...,1500.0,1000,1500000​,SOHAAM,BRAND LAUNCH / EVENT LAUNCH,AHMEDABAD,NBD,NaN,NaN,ZAKIR
7,124,2025-07-05 11:50:31,tORRent,raksHiTa,PHARMA ‎,NaN,ONE 2 ONE,dead,Waiting for the budget,Arrange Meeting,...,250.0,1000,NaN,SOHAAM,CORPORATE OR OTHER PROMOTION,AHMEDABAD,CRR,NaN,NaN,ZAKIR
8,125,2024-07-04 00:00:00,inNdicamE,Satish,PHARMA ‎,If there is any requirement we will let you know,One 2 One,dead,Daily report,NaN,...,NaN,NaN,0,SOHAAM,BRAND LAUNCH / EVENT LAUNCH,BANDRA,NBD,NaN,NaN,MITARTH
9,126,2024-05-18 00:00:00,arIStO - vr GLoBAL,NIsHa,PHARMA ‎,NaN,ONE 2 ONE,dead,Will let us know,Share Quotation,...,50000.0,NaN,50 000,SOHAAM,CORPORATE OR OTHER PROMOTION,AHMEDABAD,CRR,NaN,NaN,ZAKIR

In [ ]:
df.isnull()

,Inquiry No,Timestamp,Company,Contact Name,Category,Details,Lead Source,Sales Stage,Update Remarks,Next Steps,...,Budget,Quantity,Est Order Value,Sales Person Name,OCCASSION,LOCATION,Inquiry Type,2nd Owner,Back Office,1st Owner
0,False,False,False,False,False,True,True,False,True,False,...,False,False,False,False,False,True,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,True,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
295,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,False,True,True,False
296,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,False,True,True,False
298,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Inquiry No              0
Timestamp               0
Company                 0
Contact Name            2
Category                1
Details               122
Lead Source            59
Sales Stage             0
Update Remarks         65
Next Steps             76
Next Followup Date     89
Budget                 47
Quantity              113
Est Order Value        32
Sales Person Name       0
OCCASSION               3
LOCATION               24
Inquiry Type            0
2nd Owner             119
Back Office           123
1st Owner               1
dtype: int64

In [ ]:
for col in df.columns:
    if df[col].dtype == 'O':
        if df[col].isnull().any():
            df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        if df[col].isnull().any():
            df[col].fillna(df[col].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Inquiry No            0
Timestamp             0
Company               0
Contact Name          0
Category              0
Details               0
Lead Source           0
Sales Stage           0
Update Remarks        0
Next Steps            0
Next Followup Date    0
Budget                0
Quantity              0
Est Order Value       0
Sales Person Name     0
OCCASSION             0
LOCATION              0
Inquiry Type          0
2nd Owner             0
Back Office           0
1st Owner             0
dtype: int64

In [ ]:
df.head(5)

,Inquiry No,Timestamp,Company,Contact Name,Category,Details,Lead Source,Sales Stage,Update Remarks,Next Steps,...,Budget,Quantity,Est Order Value,Sales Person Name,OCCASSION,LOCATION,Inquiry Type,2nd Owner,Back Office,1st Owner
0,102,2024-04-20 00:00:00,aleMbIc,AstHa MaDam dIv-peT,PHARMA ‎,Unknown,Calling,Dead,Unknown,Arrange Sample,...,300.0,3000.0,9.000000e+05,SOHAAM,WOMEN'S DAY,AHMEDABAD,NBD,ANURAG,GAYATRI,SEWANATH
1,104,2025-12-11 15:37:51,FORtuNe seLECT eXOtIca,devpRAsaD das,PHARMA ‎,indent raise,Calling,Order Lost,indent raise,Aiming to Closure,...,100.0,5000.0,5.000000e+05,SOHAAM,NOT MENTIONED,BANDRA,NBD,MEENAZ,SHAAD,SHAAD
2,105,2024-03-19 00:00:00,zIFaRm PInNAcLe,abDUL BaSIt,PHARMA ‎,Unknown,Calling,Discovery,na,Arrange Meeting,...,1000.0,10000.0,1.000000e+07,SOHAAM,HOLI,ANDHERI,NBD,ANURAG,SAARA,ZAHIN
3,107,2024-03-20 00:00:00,ziFARM PInnAcle,ABdUl basit,PHARMA ‎,Unknown,Calling,Shared Quotation,Unknown,Unknown,...,120.0,1000.0,1.200000e+05,SOHAAM,LAUNCH,ANDHERI,NBD,SEWANATH,GAYATRI,ZAHIN
4,121,2025-07-05 11:50:22,EMcurE PhArMA,aditYA tHAKuR,PHARMA ‎,Will let you know,ONE 2 ONE,Dead,NOT Approved,Arrange Meeting,...,250.0,1000.0,7.490860e+10,SOHAAM,BRAND LAUNCH / EVENT LAUNCH,AHMEDABAD,NBD,SHAAD,MANAGEMENT,ANURAG

In [ ]:
df.tail(5)

,Inquiry No,Timestamp,Company,Contact Name,Category,Details,Lead Source,Sales Stage,Update Remarks,Next Steps,...,Budget,Quantity,Est Order Value,Sales Person Name,OCCASSION,LOCATION,Inquiry Type,2nd Owner,Back Office,1st Owner
294,340,2024-07-04,INNoVCarE,asHUTosh,PHARMA ‎,LBL Set of 2 dark chocolate Period related,One 2 One,Order WON,Order won,Make Order Sheet,...,51320.448413,1296.698925,0.0,MITARTH,BRAND LAUNCH / EVENT LAUNCH,CHEMBUR,NBD,ZAHIN,GAYATRI,MITARTH
295,448,2024-05-15,lUPiN,NIdHi PATkar,PHARMA ‎,Unknown,Calling,Dead,Options shared,Unknown,...,1000.000000,1500.000000,1500000.0,SEWANATH,CORPORATE OR OTHER PROMOTION,AHMEDABAD,NBD,ANURAG,MANAGEMENT,SEWANATH
296,341,2024-07-04,InnoVcAre,ShUbhAm,PHARMA ‎,Need few options on veins,One 2 One,Dead,Pmt on tour,Share Quotation,...,35.000000,2000.000000,70000.0,MITARTH,BRAND LAUNCH / EVENT LAUNCH,CHEMBUR,NBD,ZAHIN,GAYATRI,MITARTH
297,450,2024-05-15,LUpiN,mAhesH agArwaL,PHARMA ‎,Unknown,Calling,Dead,Need to submit sample,Unknown,...,2500.000000,1000.000000,2500000.0,SEWANATH,CORPORATE OR OTHER PROMOTION,AHMEDABAD,CRR,ANURAG,MANAGEMENT,SEWANATH
298,451,2024-12-23,jK LAxmI,TUShAr,CORPORATE,Instant Neembu Pani Cups,Calling,Dead,Liked,Share Options,...,100.000000,3000.000000,300000.0,SAARA,CORPORATE OR OTHER PROMOTION,DELHI,NBD,MEENAZ,MANAGEMENT,SAARA

In [33]:
df.to_excel("cleandata.xlsx", index=False)